@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Serif&family=Inder&display=swap');
@import "tailwindcss";

/* @layer utilities {
  .inter{
    font-family: "Inter", system-ui, sans-serif;
  }
  .noto{
    font-family: "Noto Serif", serif;
  }
} */

h1 , h2 {
  font-family: "Noto Serif", serif;
}
p, a {
  font-family: "Inter", system-ui, sans-serif;
  color: #8987A1;
}
